body {
    margin: auto;
}

.grandheader {
    background-color: #1f2937;
    
}

.header {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-around;

}


.bodyone {
    display: flex;
    padding: 50px;
    justify-content: center;
    gap: 60px;
}

.botext {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 435px;
    gap: 10px;
}

.links {
    display: flex;
    gap: 20px;
}

.info {
    text-align: center;
    color: #1f2937;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    align-content: center;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

.button1 {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px;
    border-radius: 8px;
    max-width: 100px;
    cursor: pointer;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.dolphin {
    height: 250px;
}

.hold {
    display: flex;
    max-width: 200px;
    flex-wrap: 100px;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    
}

.boxman {
    height: 160px;
    width: 160px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    align-content: center;
}

.text {
    flex: 1 1 auto;
}

.imagehold {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.bodytwo {
    margin-bottom: 150px;
    font-size: 20px;
    text-align: center;
}

.bodythree {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    
}

.testimonial {
    font-size: 36px;
    font-style: italic;
 
}

.author {
    align-self: flex-end;
    font-size: 30px;
    font-weight: bold;

}

.bodyfour {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-around;
    padding: 25px;
    margin: 75px;
}

.bftext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button2 {
    border-radius: 5px;
    width: 100px;
    height: 35px;
    font-weight: 600;
    color: white;
    background-color: #3882f6;
    cursor: pointer;
    border: 2px solid #e5e7eb;
}

.footer {
    display: flex;
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 35px;

}

.text1 {
    color: #e5e7eb;
    font-size: 20px;
}